* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
footer {
   background-color: rgba(238, 238, 238, 0.266);
   text-align: center;
   padding-bottom: 2rem;
}
h1 {
   padding: 2rem 0rem;
   text-align: center;
   background-color: rgba(238, 238, 238, 0.266);
}
button {
   font-size: 1.5rem;
   padding: 0.5rem;
   box-shadow: rgba(0, 0, 0, 0.414) 0px 0px 8px;
   margin: 1rem 0rem;
   border: 0px;
}

main {
   padding: 1rem 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(238, 238, 238, 0.266);
}
.buttons-list {
   justify-content: space-around;
   display: flex;
   flex-direction: column;
   width: 10vw;
   height: 90vh;
}
.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 0px 0px;
   margin: 2rem;
   height: 32rem;
   width: 32rem;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: rgba(0, 0, 0, 0.414) 0px 0px 8px;
}
.pixel {
   background-color: white;
   height: 10%;
   width: 10%;
}
.small {
   height: 1%;
   width: 1%;
}
.large {
   height: 10%;
   width: 10%;
}
.medium {
   height: 5%;
   width: 5%;
}
